<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>

    <p>Welcome to our website, we always have competitive prices.</p>
    <p>We are the best in the field of travel.</p>

    <div class="parallax"></div>

    <div style="height: 200px;background-color:rgb(237, 179, 179);font-size:36px">
        Go to the Travels page and you will find the best and cheapest flights. We always have quotes. We are the cheapest, feel free to book.
    </div>

    <div class="parallax"></div>


</body>

</html>